{% extends "base.html" %}

{% block content %}
  {% let root = thread.messages[0] %}
<div class="page-title"><h1>{{root.subject}}</h1></div>
  <div>
    {% for message in thread.messages %}
    <hr class="thin">
    <div id="{{message.id}}" class="message">
      <b>
        <a href="mailto:{{message.from.addr}}" class="addr">{{message.from}}</a></b>
      <span class="timeago">{{message.date | time_ago}}</span>
      <a title="permalink" href="#{{message.id}}">🔗</a> 
      {% match message.in_reply_to %}{% when Some with (replies_to) %}
      <br>Re:
      <a title="replies-to" href="#{{replies_to}}">{{replies_to}}</a>{%when none %}{% endmatch %}
      <div class="email-body">
      {{message.body}}
    </div>
    <div class="reply">
      <a href="{{message.mailto()}}">✉️ reply</a>
    </div>
    {% endfor %}
    </div>
  </div>
{% endblock %}
