{% extends "base.html" %}

{% block content %}
  <div class="page-title"><h1>Crabmail Mailing List</h1></div>
  <hr class="thin">
  {% for message in messages %}
  <div class="message-sum">
  <a href="threads/{{message.date}}.html" class="threadlink">{{message.subject}}</a>
  <br>
  <a href="mailto:{{message.from.addr}}" class="addr">{%match message.from.display_name %}
      {% when Some with (name) %}
      {{name}}{% when none %}{{message.from.addr}}{% endmatch %}</a> 
<span class="timeago">{{message.date | time_ago}}</span> 
  <br>
  </div>
  {% endfor %}
  </div>
{% endblock %}
