{% extends "base.html" %}

{% block content %}
<div class="page-title"><h1>{{config.list_name}}</h1></div>
  <hr class="thin">
  {% for thread in threads %}
  {% let message = thread.messages[0] %}
  <div class="message-sum">
  <a href="threads/{{thread.hash}}.html" class="threadlink">{{message.subject}}</a>
  <br>
  <a href="mailto:{{message.from.addr}}" class="addr">{%match message.from.display_name %}
      {% when Some with (name) %}
      {{name}}{% when none %}{{message.from.addr}}{% endmatch %}</a> 
  <span class="timeago"> · {{thread.messages.len() - 1}} replies · {{thread.last_reply() | time_ago}}</span> 
  <br>
  </div>
  {% endfor %}
  </div>
{% endblock %}
