{% extends "base.html" %}

{% block content %}
<div class="page-title"><h1>{{root.subject}}</h1></div>
  <div>
    {% for message in messages %}
    <hr class="thin">
    <div id="{{message.id}}" class="message">
      <b>
        <a href="mailto:{{message.from.addr}}" class="addr">{{message.from}}</a></b>
      <span class="timeago">{{message.date | time_ago}}</span>
      <a href="#{{message.id}}">🔗</a>
      <div class="email-body">
      {{message.body}}
    </div>
    <div class="reply">
      <a href="{{message.mailto()}}">✉️ reply</a>
    </div>
    {% endfor %}
    </div>
  </div>
{% endblock %}
