:root {
  --main-text: white;
  --light-text: #CCC;
  --link: #21e6c1;
  --background: #1b262c;
}
@media (prefers-color-scheme: light) {
:root {
  --link: #00F;
  --background: white;
  --main-text: black;
  --light-text: dimgrey;
}
}

body {
    padding: 2ch;
    padding-left: 4ch;
    padding-right: 4ch;
    margin: auto;
    font-family: "Roboto", Helvetica, Arial, Sans-serif;
    word-wrap: break-word;
    line-height: 1.5;
    max-width: 72ch;
    padding: 1ch;
    background-color: var(--background);
    color: var(--main-text);
}

body > hr { margin-left: -1ch; }

table { border-spacing: 0.5em 0.1em; }

.message-sum {
  margin-top: 6px;
  margin-bottom: 12px;
}

.right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: var(--link);
}

.bigger {
  font-size: 1.2rem;
}

.light {
  color: var(--light-text);
}

.email-body {
  white-space:pre-line;
  font-size: 1rem;
}

.footer {
    text-align: center;
    font-style: italic;
    font-size: .9rem;
}

hr {
    border: 0;
    height: 0;
    color: var(--light-text);
    border-top: 1px solid;
}

h1, h2, h3 {
     margin: 0;
}

a:visited {
}

a:hover{
  text-decoration: none;
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 16px;
    }
}


