body {
    padding: 2ch;
    padding-left: 4ch;
    padding-right: 4ch;
    margin: auto;
    font-family: "Roboto", Helvetica, Arial, Sans-serif;
    word-wrap: break-word;
    line-height: 1.5;
    max-width: 72ch;
    padding: 1ch;
}

body > hr { margin-left: -1ch; }

table { border-spacing: 0.5em 0.1em; }

.adfa  {
    font-family: "Roboto Mono", monospace;
}

.message-sum {
  margin-top: 6px;
  margin-bottom: 12px;
}
.right {
  text-align: right;
}

.addr {
  color: #369;
}

.bold {
  font-weight: bold;
}

.threadlink {
  font-size: 1.3rem;
  color:    #202020;
}

.timeago {
  color: dimgrey;
}

.reply-text {
  color: dimgrey;
}
.email-body {
  white-space:pre-line;
  font-family:monospace;
  font-size: 1rem;
}


.filesize {
    text-align: right;
}

.footer {
    text-align: center;
    font-style: italic;
    font-size: .9rem;
}

hr {
    border: 0;
    height: 0;
    color: lightgrey;
    border-top: 1px solid;
}

h1, h2, h3 {
     margin: 0;
}

h3 {
    margin-right: 2em;
}

pre {
    line-height: 1.2;
    font-size: 1rem;
    overflow: auto;
    margin: 0;
    padding: 0;
}

td {
    white-space: nowrap;
    margin: 0;
    border-style:hidden;
    padding: 0;
}

table td {
    padding: 0 0.1em;
}

a {
  text-decoration: none;
  color: #369;
}

a:visited {
}
a:hover{
  text-decoration: underline;
}
table.core {
    width: 100%;
    border-collapse: collapse;
}

@media (prefers-color-scheme: dark) {
body, main { background: #1b262c; color: white; }
.threadlink {
  color:    #21e6c1;
}
a { color: #21e6c1 }
a:visited { color: #21e6c1 }
.addr {
  color: lightblue;
}
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 16px;
    }

    .junk {
        display: none;
    }
}


